{% extends "base.html" %} {% block main %}

<div id="results-group">
	<h3 class="tp-30 bp-10 primary-color">Archive</h3>
	<p class="bp-20 light-text italic primary-color">Click the image to expand details</p>

	<form class="tp-30 archive_search flex" action="{{ url_for('archive') }}" method="POST" enctype="multipart/form-data" id="searchForm">
        <h2 class="light-text primary-color">Filter:</h2>
		<div class="form_search">
            {{ form.patient(class='res-input',placeholder='Patient Name') }}
          </div>
          <div class="form_search">
            {{ form.location(class='res-input',placeholder='Location') }}
          </div> <div class="form_search">
            {{ form.date(class='res-input',placeholder='Date') }}
          </div>
          <div class="form_search">
            {{ form.identification(class='res-input',placeholder='Detection') }}
          </div>
          <div class="form_search">
            {{ form.employee(class='res-input',placeholder='Employee ID') }}
          </div>
          <button type="submit" name="submit" class="btn">
			  
			  <img src="{{ url_for('static', filename='images/search.png') }}" alt="">

		  </button>
        </form>


	<table class="tp-30" cellspacing="0">
		<thead class="primary-color">
		<tr>
		  <th>Chest Scan</th>
		  <th>Patient Name</th>
		  <th>Identification</th>
		  <th>Date Scanned</th>
		  <th>Employee ID</th>
		  <th>Location</th>
		</thead>
		</tr>
		<tbody>
		{% for r in results %}
		<tr>
			<td>
				<a  id=p_link  href="{{ url_for('get_result',resultid=r.id) }}"> 
					<img class="p_img" src="{{ url_for('get_image',filename=r.photo) }}"></img>
				</a>
			</td>
			<td> {{r.patname}}</td>
			<td>{{r.identification}}</td>
			<td> {{r.date_scanned}}</td>
			<td>{{r.empid}}</td>
			<td> {{r.location}} </td>
		
		</tr>


		{% endfor %}
	

	
		</tbody>
	</table>
</div>
{% endblock %}