{% extends "base.html" %}


{% block main %}

<div class=" results flex"> 

    <div class="res_img_div">
  <!--     <img class="result_img" src="{{ url_for('static', filename=segmented_image) }}" alt="output"/>  -->
      <!-- <img class="result_img" src="{{ url_for('static', filename='images/test.png') }}" alt="output"/> -->
      <img class="result_img" src="{{ url_for('get_image', filename=segmented_image) }}" alt="output"/> 
    </div>

    <div>
    <div class="res_div" >
      <h2 name="review_text" class="secondary-color bp-10"> {{review_text}}</h2>
      <!-- <h3 name="review_text" class=" secondary-color  bp-10 ">Pneumothorax Detected</h3> -->
    
      <label for="review_text"  >Classification Confidence :  </label>
      <!-- <label name="review_text" >99.548576%</label> -->
    <label name="review_text" >{{result}}%</label>  
    </div>

    <div class="res_div res_div_form">
      <h3 name="review_text" class=" primary-color  bp-10 ">Patient Data</h3>
      <p class="bp-10">An email of the result will be sent to an expert</p>
      <form class="resultsform " action="{{ url_for('addresult')}}" method="POST" enctype="multipart/form-data">
        <div class="form_group">
          {{ form.patient.label }}
          {{ form.patient(class='res-input',placeholder='Enter Patient Name ') }}
        </div>
        <div class="form_group">
          {{ form.location.label }}
          {{ form.location(class='res-input',placeholder='Location') }}
        </div>
        {{ form.img() }}
        {{ form.identification() }}
        {{ form.confidence() }}
        <!-- <input type="hidden" name="img" value="{{segmented_image}}">
        <input type="hidden" name="confidence" value="{{result}}">
        <input type="hidden" name="identification" value="{{identify}}"> -->
        <br>
        
        <button type="submit" name="submit" class="btn filled">Submit Data</button>
      </form>

    </div>


    
    </div>

  </div>

</div> 

{% endblock %}