<div class="nav__div flex">
  
  <img src="{{ url_for('static', filename='images/lungify-logo.png') }}"></img>
  
  <nav>
      <ul class="flex">
          <li class="nav__link"><a href="upload">Upload</a></li>
          <li class="nav__link"><a href="archive">Archive</a></li>
          <li class="nav__link"><a href="account">Account</a></li>
          <li class="nav__link"> <a href="blog">Blog</a></li>
      </ul>
      <!--
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
        {%endif%}
          -->
      </ul>
  </nav>
  <a class="btn filled"  href="{{ url_for('logout') }}" >Log Out</a>
</div>