<div class="nav__div flex">
  
  <img src="{{ url_for('static', filename='images/lungify-logo.png') }}"></img>
  
  <nav>
      <ul class="flex">
          <li class="nav__link"><a href="{{ url_for('upload') }}"> Upload </a></li>
          <li class="nav__link"><a href="{{ url_for('about') }}">Archive</a></li>
          <li class="nav__link"><a href="{{ url_for('settings') }}">Settings</a></li>
          <li class="nav__link"> <a href="{{ url_for('about') }}">About</a></li>
      </ul>
            
           
    </nav>
   
  <a class="btn filled"  href="{{ url_for('logout') }}" >Log Out</a>
</div> 
