{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block main %}
<div class="upload flex flex-vertical">
  <h2>DRAG AND DROP TO UPLOAD</h2>
  <form method=post enctype=multipart/form-data>
    
<!--        <input  type="file" name="file" id="imageUpload"  accept=".png,.jpg" > 
 -->       <!-- <label class="btn filled" for="imageUpload">Or Browse</label> -->
       <!-- <input type=submit value=Detect > -->
       <div class="flex">
      <label class="custom-file-upload" >
        <input type="file" class="btn filled" name="file" id="imageUpload"  accept=".dcm,.png,.jpg,.jpeg" />
        <p class="btn filled">Browse</p>  
      </label>
      <input class="btn " type=submit value=Detect>
    </div>
  </form> 
  <!-- <button class="btn filled">Or Browse</button> -->
  <h2 class="light-text">JPG, PNG OR DICOM images</h2>
 
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8"></script>
{% endblock %}
