{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block main %}
<div class="upload flex flex-vertical">
  <h2>DRAG AND DROP TO UPLOAD</h2>
  <form method=post enctype=multipart/form-data>
    
<!--        <input  type="file" name="file" id="imageUpload"  accept=".png,.jpg" > 
 -->       <!-- <label class="btn filled" for="imageUpload">Or Browse</label> -->
       <!-- <input type=submit value=Detect > -->
      <label class="custom-file-upload" >
        <input type="file" class="btn filled" name="file" id="imageUpload"  accept=".png,.jpg" />
        <p class="btn filled">Or Browse</p>  
      </label>
  </form> 
  <!-- <button class="btn filled">Or Browse</button> -->
  <h2 class="light-text">FILE OR FOLDER: JPG, DICOM images</h2>
  <input type=submit value=Detect>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8"></script>
{% endblock %}
