click==8.0.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1

Werkzeug==2.0.2

# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
psycopg2
python-dotenv
flask_mysqldb
pymysql
email_validator

# ----------------------
# Production Server
# ----------------------
gunicorn

# ----------------------
# Backend
# ----------------------
tensorflow
matplotlib
numpy
keras
pillow
intel-tensorflow==2.8.0
